/* -- Common --*/
body {
  font-family:'Amarante', cursive;
  background-color: #80e1ff;
}

.navbar {
  font-size: 1.4em;
  background-color: #00004d;
  padding: 1%;
}

.navbar-brand {
	font-size: 1.4em;
	padding: 1%;
}

.navbar-brand img {
	margin-top: -8%;
}

.navbar a {
    color: #0eabe6 !important;
}

.navbar a:hover {
    color: #9ee1fa !important;
}

.container {
	margin-top: 0%;
	
}

.leftside {
	background-color: #f0f5f5;
	padding: 10%;
	padding-top: 25%;
	padding-bottom: 58%;
	border-radius: 25px;
}

.main {
	margin: auto;
	background-color: rgba(207, 240, 252, 0.9);
	padding: 10%;
	border-radius: 25px;
	margin-bottom: 10%;
}

/* -- Login -- */
#login_img {
	position: absolute;
	top: 0%;
	z-index: -1;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}

.signin {
	position: fixed;
	top:25%;
	left:20%;
	background-color: rgba(207, 240, 252, 0.7);
	border: 1px solid #0fb4f0;
	width: 30%;
	padding: 25px;
	font-weight: bold;
	border-radius: 25px;
	box-shadow: 2px 2px 2px #0b7ea8;
}

.signup{
	position: fixed;
	top:25%;
	left:55%;
	background-color: rgba(207, 240, 252, 0.8);
	border: 1px solid #0fb4f0;
	width: 30%;
	padding: 25px;
	font-weight: bold;
	border-radius: 25px;
	box-shadow: 2px 2px 2px #0b7ea8;
}

.form-control {
	height: 45px;
}

#bsignin, #bsignup {
	font-size: 1.6em;
}

/* -- Create Profile -- */
#create_profile {
	background: url("profile.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

label {
	font-size: 1.4em;
}

#timeframe {
	width: 250px;
	height: 30px;
}

#create_profile .main {
	background-color: rgba(14, 180, 241, 0.8);
	color: #001a66;
}

#bsave {
	background-color: #001a66;
	font-size: 1.6em;
}
/*Styling the footer*/
footer{
text-align: center;
 font-size: 1.4em;
  background-color: #00004d;
  padding: 1%;
   color: #0eabe6 

}
footer a { 
color: #0eabe6;
text-decoration: none;

}
footer a:hover {
color: #9ee1fa; 
text-decoration: underline; 
}