#main {
	
	  font: italic bold 12px/30px Georgia, serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-indent: 50px;
    width: 60em
}
body{
    background-color: rgba(14, 180, 241, 0.8);
}

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 0;
    background-color:  #00004d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0eabe6;
    display: block;
    transition: 0.3s
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#general_diet{

    background: url("general.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}